*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    height: 100vh;
    background-color: #c10f3b;
    display: flex;
    /* justify-content: ; */
    flex-direction: column;
    justify-content: end;
    align-items: start;
    overflow: hidden;
}

img{
    height: 70vh;
    position: absolute;
    bottom: 0;
    left: -400px;
    transition: 0.4s all ease-in;
    z-index: 10;
    transform: scale(1);

}


button{
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
    z-index: 999;
}

button:hover{
    background-color: #ff517c;


}


button:hover .cont{
    background-color: red;
    border: 8px solid;

}

.cont{
    border: 2px solid;
    width: 100%;
    height: 100%;
}


button:hover + .cont img{
    /* background-color: red; */
    left: 0;
    transform: scale(1.3);
}
button:hover + .cont .white-bar{
    left: -300px;
}
button:hover + .cont .text h1{
    transform: scale(1);
}
button:hover + .cont .text h2{
        margin-bottom: 0px;
    opacity: 1;
}


.white-bar{
    height: 200%;
    width: 500px;
    background-color: #fff;
    position: absolute;
    bottom: -260px;
    left: -1200px;
    z-index: 9;
    transform: rotate(-30deg);
    /* transition: 0.4s all ease-in; */
    transition: 0.6s all ease-in;


}


.text{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.text h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 5px;
    font-size: 10em;
    color: white;
    transform: scale(0);
    transition: 0.4s all ease-in;

}

.text h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: -50px;
    opacity: 0;
    transition: 0.4s all ease-in;

}
