* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
}


body {
    height: 100vh;
    scroll-behavior: smooth;
    background-color: #070925;
}

h1 {
    text-align: center;
}

.loading-bar {
    height: 30px;
    width: 250px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px auto;
    overflow: hidden;
}

.fill {
    background-color: red;
    height: 100%;
    width: 0%;
    transition: 0.4s width ease-in-out;

    animation-name: progressAnimation;
    animation-duration: 2s;
    animation-fill-mode: forwards;


}

/* .loading-bar:hover .fill{
    width: 100%;
} */

@keyframes progressAnimation {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

.dot-cont {
    height: 50px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    margin: 20px auto;

}

.dot {
    height: 20px;
    width: 20px;
    border: 2px solid;
    border-radius: 50%;
    background-color: white;

    animation-name: dotAnimate;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: 0.4s all ease-in-out;

    transform: translateY(0px);
    opacity: 1;

}

.dot:nth-child(1) {
    animation-delay: 0.4s;
}

.dot:nth-child(2) {
    animation-delay: 0.8s;
}

.dot:nth-child(3) {
    animation-delay: 1.2s;
}


@keyframes dotAnimate {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
    }
}