nav {
    display: flex;
    flex-direction: row;

    /* align : x axis (changes per flex-direction) */
    justify-content: space-between;
    gap: 1.8vw;
    padding: 10px;

}

nav > ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2vw;
}

#nav-logo-text{
    font-size: 1.8em;
    letter-spacing: 5px;

}